{% extends 'base.html' %}
{% load static %}
{%block content%}

<div class="container">
    <div class="card">
        <div class="card-header bg-mtc">
            <h4>Listen</h4>
        </div>
        <div class="card card-body">
            <p>It is okay for there to be silence in between principles and after asking questions. This gives time for the spirit to work within your investigator. Remember if you are feeling the spirit then your investigator is too.</p>
        </div>
    </div>
    <br />

    <div class="card">
        <div class="card-header bg-mtc">
            <h4>Silence</h4>
        </div>
        <div class="card card-body">
            <p>
                It is okay for there to be silence in between principles and after asking questions. This gives time for the spirit to work within your investigator. Remember if you are feeling the spirit then your investigator is too.
            </p>
        </div>
    </div>
    <br />

    <div class="card">
        <div class="card-header bg-mtc">
            <h4>Inspired Questions</h4>
        </div>
        <div class="card card-body">
            <p>Make sure you are listening to the spirit. When you are listening to the spirit Heavenly Father will show you what direction to go. He will make sure that you are asking questions that the investigator needs to her and contemplate themselves. Try asking questions that will provoke thought: how, what, why, etc.</p>
        </div>
    </div>
    <br />

    <div class="card">
        <div class="card-header bg-mtc">
            <h4>Pray for Investigators</h4>
        </div>
        <div class="card card-body">
            <p>
                Make sure you are taking the time to pray for your investigators individually. Doing so will not only help you receive revelation for them but will also help their understanding
            </p>
        </div>
    </div>
    <br />
</div>
{%endblock%}